@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap);

$default_font: 'Nunito Sans', sans-serif;
$responsive-mobile: "only screen and (max-width : 640px)";

$edit_icon: "\f044";
$delete_icon: "\f2ed";
$image_icon: "\f03e";
